.hero{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent, transparent, transparent, #fff), url(../../assets/bgIMG.png);
    background-position: center;
    background-size: cover;
}

.social__links{
    position: fixed;
    width: 3rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    left: 3vw;
}


.social__links a img{
    width: 2rem;
    opacity: .6;
    transition: transform 400ms ease;
}

.social__links a img:hover{
    opacity: 1;
}

.circle{
    background: linear-gradient(80deg, gray, white);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    left: 36%;
    top: 20vh;
}


.home__profile img{
    width: 35rem;
    position: relative;
    left: 40%;
    top: -56vh;
}

.scroll__dots{
    width: 1rem;
    height: 6rem;
    position: fixed;
    right: 3vw;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.scroll__dots a button{
    width: 1rem;
    aspect-ratio: 1/1;
    background: #808080;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;   
    cursor: pointer;
}

.scroll__dots a .active{
    background: #000;
}

.home__name{
    position: relative;
    left: 20rem;
    top: -85rem;
    background: #fff;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    padding: 1rem;
}

.home__name p{
    font-size: 3rem;
}

.home__name small{
    display: flex;
    flex-direction: column;
    color: #808080;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.home__name small span{
    font-size: 3rem;
    color: #605959;
}

.home__name-1{
    position: relative;
    left: 30rem;
    top: -80rem;
    background: #fff;
    width: fit-content;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;
    text-align: end;
    
}

.home__name-1 p{
    font-size: 1.3rem;
    color: #808080;
    font-weight: 700;
}