.header{
    width: 94vw;
}

nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    z-index: 1;
}

.logo img{
    width: 7rem;
    opacity: .7;
    cursor: pointer;
    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -ms-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
}

nav img:hover{
    opacity: 1;
}

nav ul{
    display: flex;  
    gap: 3rem;
}

nav ul li a{
    color: #6f6c6c;
    font-size: .8rem;
    font-weight: 600;
}

nav ul li a:hover{
    color: #6a5acd;
}

.menu__btn{
    width: 1rem;
    position: fixed;
    right: 3vw;
    padding-top: 2rem;
    display: none;
}

@media screen and (max-width: 1200px) {
    nav ul{
        right: -40%;
        position: absolute;
        flex-direction: column;
        top: 3rem;
        background: #eeebeb;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: .4rem;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
    }
    #openButton{
        display: block;
    }
}