@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  border: none;
  
}
.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  appearance: unset;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.title{
  margin-top: 6rem;
  text-align: center;
  font-size: 1.2rem;
}

.title span{
  color: slateblue;
}